<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiekai.wzglxc">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/> <!--扫描二维码是否需要动态权限-->
    <uses-permission android:name="android.permission.VIBRATE"/>    <!--zxing震动权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.nfc" android:required="true"/> <!--使用者必须有nfc功能-->

    <application
        android:name="com.jiekai.wzglxc.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity android:name="com.jiekai.wzglxc.ui.WelcomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jiekai.wzglxc.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jiekai.wzglxc.ui.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jiekai.wzglxc.ui.KeeperMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jiekai.wzglxc.utils.zxing.CaptureActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jiekai.wzglxc.ui.DeviceOutListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jiekai.wzglxc.ui.DeviceScrapActivity"
            android:label="@string/device_scrap"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:name="com.jiekai.wzglxc.ui.LogOutActivity"
            android:label="@string/logout"
            android:screenOrientation="portrait"
            android:theme="@style/Activity_Dialog"/>
        <activity android:name=".ui.DeviceDetailSimpleActivity"
            android:label="@string/device_detail"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.DeviceUseRecordActivity"
            android:label="@string/device_use_record"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:name=".ui.RecordHistoryActivity"
            android:label="@string/record_check_result"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.RecordHistoryDetailActivity"
            android:label="@string/record_failed_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:name=".ui.DeviceMoveActivity"
            android:label="@string/device_move"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:name=".ui.DeviceInspectionActivity"
            android:label="@string/device_inspection"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:name=".ui.InspectionHistoryDetailActivity"
            android:label="@string/record_failed_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:name=".ui.MoveHistoryDetailActivity"
            android:label="@string/record_check_result"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:name=".ui.DeviceApplayActivity"
            android:label="@string/device_applay"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.DeviceApplayDetailActivity"
            android:label="@string/device_applay_detail"
            android:screenOrientation="portrait"/>
    </application>

</manifest>